.arrow {
    /* Taken from https://stackoverflow.com/a/22672444/3130769 */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

input[type=number] {
    width: 60px;
}

.option {
    display: block;
    margin: 10px;
}

.toc:disabled {
    background-color: black;
    color: white;
}

.upload-button {
    display: inline-block;
    padding: 0.35rem 0.75rem;
    border: 1px solid #767676;
    border-radius: 2px;
    background: #efefef;
    color: #000;
    cursor: pointer;
    font: inherit;
}