<!DOCTYPE html>
<html>
<head>
	<title>Arrange titles</title>
	<script src="static/arrange.js"></script>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<form action="compile" method="post">
		<h1>Merge .docx files and convert to .pdf</h1>
		<h2>Change order of documents:</h2>
		<ol id="pdforder">
			{%for i in range(0, pdfslen)%}
    		<li id="{{ i }}" data-filename="{{ pdfs[i] + '.pdf' }}">
				<input class="arrow" id="up{{ i }}" type="button" value="&#129061;" onClick=up(this.parentElement) {% if i == 0 %}style="visibility: hidden;"{% endif %}/>
				<input class="arrow" id="down{{ i }}" type="button" value="&#129063;" onClick=down(this.parentElement) {% if i == pdfslen - 1 %}style="visibility: hidden;"{% endif %}/>
			{{ pdfs[i] }}
			</li>
			{%endfor%}
		</ol>
		<input type="hidden" id="pdfslen" value="{{ pdfslen }}" />
		<input type="hidden" id="finalorder" name="finalorder" />
		<div class="option">
			<h2>Specify options</h2>
			<input type="checkbox" id="pagenumbers" name="pagenumbers" onClick="pageNumberControls()" />
			<label for="pagenumbers">Add page numbers</label>
		</div>
		<div class="option">
			<select id="pagenumberfont" name="pagenumberfont" disabled>
				<option value="Courier">Courier</option>
				<option value="Arial">Arial</option>
				<option value="Times">Times</option>
			</select>
			<label for="pagenumberfont">Page number font</label>
		</div>
		<div class="option">
			<input type="number" id="pagenumbersize" name="pagenumbersize" min="6" max="16" step="1" value="12" disabled />
			<label for="pagenumbersize">Page number size</label>
		</div>
		<h2>Submit for merging:</h2>
		<input type="submit" value="Merge" onClick="submitPDF()" />
	</form>
</body>
</html>
