<!DOCTYPE html>
<html>
<head>
	<title>Arrange titles</title>
	<script src="static/arrange.js"></script>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<form action="compile" method="post">
		<h1>Merge files and convert to .pdf</h1>
		<h2>Change order of documents:</h2>
		<ol id="pdforder">
			{%for i in range(0, pdfslen)%}
    		<li class="dropzone" id="{{ i }}" {% if i == 0 %}data-filename="### TABLE OF CONTENTS ###"{% else %}data-filename="{{ pdfs[i] + '.pdf' }}"{% endif %} draggable="true">
				<input class="arrow" id="up{{ i }}" type="button" value="&#129061;" onClick=up(this.parentElement) {% if i == 0 %}style="visibility: hidden;"{% endif %}/>
				<input class="arrow" id="down{{ i }}" type="button" value="&#129063;" onClick=down(this.parentElement) {% if i == pdfslen - 1 %}style="visibility: hidden;"{% endif %}/>
				<input type="text" id="title{{ i }}" value="{{ pdfs[i] }}" {% if i == 0 %}class="toc" disabled{%endif%}/>
			</li>
			{%endfor%}
		</ol>
		<input type="hidden" id="pdfslen" value="{{ pdfslen }}" />
		<input type="hidden" id="finalorder" name="finalorder" />
		<input type="hidden" id="titles" name="titles" />
		<h2>Specify options</h2>
		<div class="option">
			<input type="checkbox" id="pagenumbers" name="pagenumbers" onClick="pageNumberControls()" />
			<label for="pagenumbers">Add page numbers</label>
		</div>
		<div class="option">
			<select id="pagenumberformat" name="pagenumberformat" disabled>
				<option value="1">x</option>
				<option value="2">x of y</option>
				<option value="3">Page x</option>
				<option value="4">Page x of y</option>
			</select>
			<label for="pagenumberformat">Page number format</label>
		</div>
		<div class="option">
			<select id="pagenumberfont" name="pagenumberfont" disabled>
				<option value="Courier">Courier</option>
				<option value="Arial" selected>Arial</option>
				<option value="Times">Times</option>
			</select>
			<label for="pagenumberfont">Page number font</label>
		</div>
		<div class="option">
			<input type="number" id="pagenumbersize" name="pagenumbersize" min="6" max="16" step="1" value="12" disabled />
			<label for="pagenumbersize">Page number size</label>
		</div>
		<div class="option">
			<input type="number" id="pagenumbermargin" name="pagenumbermargin" min="0.0625" max="1.5" step="0.0625" value="0.5" disabled />
			<label for="pagenumbermargin">Page number margin (inches)</label>
		</div>
		<div class="option">
			<input type="checkbox" id="toc" name="toc" onClick="tocControls()" />
			<label for="toc">Add table of contents</label>
		</div>
		<div class="option">
			<select id="tocheaderfont" name="tocheaderfont" disabled>
				<option value="Courier">Courier</option>
				<option value="Arial" selected>Arial</option>
				<option value="Times">Times</option>
			</select>
			<label for="tocheaderfont">Table of contents header font</label>
		</div>
		<div class="option">
			<input type="number" id="tocheadersize" name="tocheadersize" min="12" max="30" step="2" value="18" disabled />
			<label for="tocheadersize">Table of contents header size</label>
		</div>
		<div class="option">
			<input type="number" id="tocheaderspacing" name="tocheaderspacing" min="0.0625" max="1.0" step="0.0625" value="0.5" disabled />
			<label for="tocheaderspacing">Table of contents header spacing (inches)</label>
		</div>
		<div class="option">
			<select id="toclistitemfont" name="toclistitemfont" disabled>
				<option value="Courier">Courier</option>
				<option value="Arial" selected>Arial</option>
				<option value="Times">Times</option>
			</select>
			<label for="toclistitemfont">Table of contents list item font</label>
		</div>
		<div class="option">
			<input type="number" id="toclistitemsize" name="toclistitemsize" min="6" max="16" step="1" value="12" disabled />
			<label for="toclistitemsize">Table of contents list item size</label>
		</div>
		<div class="option">
			<input type="number" id="toclistitemspacing" name="toclistitemspacing" min="0.0625" max="1.0" step="0.0625" value="0.25" disabled />
			<label for="toclistitemspacing">Table of contents list item spacing (inches)</label>
		</div>
		<div class="option">
			<input type="number" id="tocverticalmargin" name="tocverticalmargin" min="0.0625" max="1.5" step="0.0625" value="1" disabled />
			<label for="tocverticalmargin">Table of contents vertical margin (inches)</label>
		</div>
		<div class="option">
			<input type="number" id="tochorizontalmargin" name="tochorizontalmargin" min="0.0625" max="1.5" step="0.0625" value="1" disabled />
			<label for="tochorizontalmargin">Table of contents horizontal margin (inches)</label>
		</div>
		<h2>Submit for merging:</h2>
		<input type="submit" value="Merge" onClick="submitPDF()" />
	</form>
</body>
</html>
